---
filter: haml
---
#wrapper.hfeed
  #header
    #masthead
      #branding
        #blog-title
          %span
            %a(href="/") Going Diagonal
        #blog-description A Boulder web developer shares tech reviews and how-tos
      #access
        .menu
          %ul
            %li.page_item.page-item-165
              %a(href="/") Blog
            %li.page_item.page-item-168
              %a(href="/resume") Resum&eacute;
            %li.page_item.page-item-170
              %a(href="/iphone-apps") iPhone Apps
            %li.page_item.page-item-215
              %a(href="/experience") Experience
            %li.page_item
              %a(href="/testimonials") Testimonials
