---
filter:    haml
---
#primary.widget-area
#secondary.widget-area
#secondary.widget-area(role="complementary")
  %li#text-3.widget.widget-text
    %h2.widgettitle About Me
    .textwidget
      %img(src="/images/new_picture_contrast_low.jpg" style="margin-bottom:10px")
        Hi, I'm Daniel Stutzman, a web developer in sunny Boulder, CO.  In December 2010, I began the transition from full-time employee to independent contractor under the name Diagonal Software LLC.
  %li#categories-3.widget.widget_categories
    %h2.widgettitle Categories
    %ul
      %li.cat-item.cat-item7
        %a(href="/category/all") All
        (22)
      %li.cat-item.cat-item8
        %a(href="/category/howto") How To
        (15)
      %li.cat-item.cat-item5
        %a(href="/category/meta") Meta
        (1)
      %li.cat-item.cat-item3
        %a(href="/category/money") Money
        (2)
      %li.cat-item.cat-item6
        %a(href="/category/people") People
        (3)
      %li.cat-item.cat-item4
        %a(href="/category/all") Tech
        (18)
  %li#archives-3.widget.widget_archive
    %h2.widgettitle Archives
    %ul
      %li
        %a(href="/2011/05") May 2011
        (2)
      %li
        %a(href="/2011/04") April 2011
        (4)
      %li
        %a(href="/2011/03") March 2011
        (7)
      %li
        %a(href="/2011/02") February 2011
        (9)
  %li#text-4.widget.widget_text
    %h2.widgettitle Social
    .textwidget
      %map(name="social_media_map")
        %area(shape="rect" coords="0,0,50,50"
          href="http://www.facebook.com/dtstutz"
          title="Facebook" alt="Facebook")
        %area(shape="rect" coords="58,0,107,50"
          href="http://www.linkedin.com/pub/daniel-stutzman/9/15b/140"
          title="LinkedIn" alt="LinkedIn")
        %area(shape="rect" coords="0,60,50,110"
          href="mailto:daniel@diagonalsoftware.com"
          title="Email" alt="Email")
        %area(shape="rect" coords="58,60,107,110"
          href="http://www.danielstutzman.com/feed/"
          title="RSS" alt="RSS")
        %area(shape="rect" coords="0,118,50,168"
          href="skype:daniel.stutzman" title="Skype")
        %area(shape="rect" coords="58,118,107,168"
          href="http://twitter.com/#!/danielstutzman"
          title="Twitter" alt="Twitter")
        %area(shape="rect" coords="0,177,50,227"
          href="https://github.com/danielstutzman"
          title="GitHub" alt="GitHub")
        %area(shape="rect" coords="58,177,107,227"
          href="http://itunes.apple.com/us/artist/diagonal-software/id412489904"
          title="Apple" alt="Apple")
      %img(src='http://www.danielstutzman.com/images/social_media_icons.jpg'
        width='107' height='227' usemap="#social_media_map")
