---
title: ""
created_at: 2008-08-02 14:06:40
layout: post
filter: haml
extension: html
---
- posts = %w[2011 2012].map { |year| @pages.find(:all, :in_directory => year, :recursive    => true,  :sort_by      => 'date') }.flatten.reverse
- @last_post = posts.first
#post-238.post-238.post.type-post.status-publish.format-standard.hentry.category-all.category-howto.category-tech
  %h1.entry-title
    -# this h1 shows on home page only
    %a{ :href => url_for(@last_post).gsub(/\.html$/, '') }
      = @last_post.title
  .entry-meta
    - if @last_post.date
      %span.meta-prep.meta-prep-entry-date Published
      %span.entry-date
        %abbr.published
          = @last_post.date
      %br
  .entry-content
    ~ render(@last_post)
%h2.entry-title Blog Archives
%ul
  - months = posts.collect { |post| post.date.strftime('%b %Y') }.uniq
  - months.each do |month|
    %li
      = month
      %ul
        - posts.each do |post|
          - if post.date.strftime('%b %Y') == month
            %li
              = link_to(post.title, post).gsub(/\.html/, '')
